* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px;
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}