
.navbar {
    position: fixed;
    left: 24%;
    height: 100px;
    width: 76%;
    align-items: center;
    background-color: rgb(202, 202, 202);
    z-index: 2;
    display: grid;
}

.medianCarrier {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 85%;
}

.gridify {
    position: relative;
    display: grid;
    grid-template-columns: 14% 1fr 18%;
    width: 100%;
}

.locationHeader {
    grid-column: 1/2;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: right;
    background-color: white;
    border-radius: 10px 0 0 10px;
    padding-right: 5px;
}

.searchBar {
    position: relative;
    grid-column: 2/3;
    width: 100%;
    height: 40px;
    padding: 6px 6px 6px 12px;
    font-size: 16px;
    border: none;
}

.button {
    position: relative;
    grid-column: 3/4;
    font-size: 14px;
    width: 100%;
    height: 52px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
}

